*{
    margin: 0px;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navBar{
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(114, 147, 167);
    list-style: none;
    padding: 20px;
    color: aliceblue;
}

.menu{
    display: flex;
    align-items: center;
}

.menulist{
    margin-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    cursor: pointer;
    
}
.menulist:hover
{
    color: red;
    transition: 0.3s;
}

.HeroSection{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(./images/background.png);
    background-color: rgb(79, 113, 134);
}
.headingSection h1{
 font-size: 50px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.headingSection p{
 font-size: 20px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-weight: 600;
}
.headingSection{
    padding-left: 60px;
}


.HeroImage{
    width: 50%;
    display: flex;
    justify-content: center;
}
.heroImage{
    width: 20rem;
    
}
button{
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
margin-top: 20px;
background-color: red;
color: aliceblue;
padding: 13px 20px;
border-radius:4px ;    
border-style: none;
cursor: pointer;
}

button:hover{
    background-color: rgb(202, 205, 207);
    color:red ;
    transition: 0.5s;
}

/*              About section                 */

.About{
    height: 80vh;
    background-color: white;
}

h2{
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
}

.aboutContent{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
h3{
    font-size: 30px;
}
.aboutDescription{
    padding-top: 15px ;
}